<!-- <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <form (ngSubmit)="login()">
            <div>
              <label for="username">Username:</label>
              <input type="text" id="username" [(ngModel)]="username" name="username">
            </div>
            <div>
              <label for="password">Password:</label>
              <input type="password" id="password" [(ngModel)]="password" name="password">
            </div>
            <button type="submit">Login</button>
          </form>
          </div>
          </div>
          </div> -->
<div class="background-wrap">
  <div class="background"></div>
</div>

<form id="accesspanel" action="login" method="post" (ngSubmit)="login()">
  <h1 id="litheader">Log In</h1>

  <div class="inset">
    <p>
      <input
        type="text"
        name="username"
        id="username"
        [(ngModel)]="username"
        placeholder="Email address 0r Username"
      />
    </p>
    <p>
      <input
        type="password"
        name="password"
        id="password"
        [(ngModel)]="password"
        placeholder="Password"
      />
    </p>
    <div style="text-align: center">
      <div class="checkboxouter">
        <input
          type="checkbox"
          name="rememberme"
          id="remember"
          value="Remember"
        />
        <label class="checkbox"></label>
      </div>
      <label for="remember">Remember me</label>
    </div>
    <input class="loginLoginValue" type="hidden" name="service" value="login" />
  </div>
  <p class="p-container">
    <input type="submit" name="Login" id="go" value="LogIn" />
  </p>

</form>

<!-- <form class="login100-form validate-form" #f="ngForm" (ngSubmit)="signIn(f.value)" >
            <span class="login100-form-title">Inventory Managenent System</span>
    
              <label for="inputEmail"> Username</label>
              <input type="text" class="form-control" id="inputUsername" name="username" ngModel placeholder="Username" required>
              <label for="">Password</label>
              <input type="password" id="inputPassword" name="password" ngModel placeholder="Password" required>
             
          
    
            <div class="container-login100-form-btn">
              <button
                class="login100-form-btn"
                
                type="submit"
              >
                <span >Login</span>
              </button>
            </div>
            <a
              data-bs-toggle="modal"
              data-bs-target="#resetPasswordModal"
              class="forgot text-center my-2 col-12 d-inline-block"
            >
              Forgot Password / Reset Password
            </a>
            <div class="site_alert" >
              Username / Password is Incorrect
              <button type="button" class="close">
                <i class="bi bi-x" (click)="basic.closeAlert($event)"></i>
              </button>
            </div>
    
          </form> -->
