<!-- <div class="background-wrap">
  <div class="background"></div>
</div>

<form [formGroup]="Login" (ngSubmit)="ProceedLogin()">
  <h1 id="litheader">Log In</h1>

  <div class="inset">
    <p>
      <input
        type="text"
        name="username"
        id="username"
        formControlName="username"
        required="true"
        placeholder="Email address 0r Username"
      />
    </p>
    <p>
      <input
        type="password"
        name="password"
        id="password"
        formControlName="password"
        placeholder="Password"
        required="true"
      />
    </p>
    <div style="text-align: center">
      <div class="checkboxouter">
        <input
          type="checkbox"
          name="rememberme"
          id="remember"
          value="Remember"
        />
        <label class="checkbox"></label>
      </div>
      <label for="remember">Remember me</label>
    </div>
    <input class="loginLoginValue" type="hidden" name="service" value="login" />
  </div>
  <p class="p-container">
   <input type="submit" name="Login" id="go" value="LogIn" /> -->
<!-- <button type="submit">LogIN</button>
  </p> -->

<div class="container">
  <div class="screen">
    <div class="screen__content">
      <form class="login" [formGroup]="Login" (ngSubmit)="ProceedLogin()">
        <div class="image">
          <img
            width="150px"
            height="100px"
            src="assets/images/iva.png"
            alt="My Image"
          />
          <!-- src="static/assets/images/logo.png" =>make image static for backend -->

          <br /><br /><br />
        </div>
        <h1 class="text-center heading">Log In</h1>
        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          <input
            type="text"
            name="username"
            id="username"
            formControlName="username"
            [ngModel]="hardcodedUsername"
            required="true"
            class="login__input"
            placeholder="Username"
          />
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <input
            type="password"
            name="password"
            id="password"
            [ngModel]="hardcodedPassword"
            formControlName="password"
            placeholder="Password"
            required="true"
            class="login__input"
            placeholder="Password"
          />
        </div>
        <button class="button login__submit" type="submit">
          <span class="button__text">Log In Now</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
      </form>
      <!-- <div class="social-login">
				<h3>log in via</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div> -->
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
