<h1 class="fs-2">All Purchases</h1>

<div class="add-categories">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control w-25"
      placeholder="Search Customers"
    />
    <button class="btn btn-primary">
      <i class="bi bi-search"></i>
    </button>
    <button
      type="button"
      class="btn btn-outline-primary mx-2"
      (click)="openXl(content)"
    >
      <i class="bi bi-plus-circle"></i> Add new
    </button>
    <button class="btn btn-outline-danger">
      <i class="bi bi-arrow-down-circle"></i> PDF
    </button>
  </div>
</div>

<div class="top-sellling">
  <table class="table table-striped text-center table-bordered table-hover">
    <thead class="table-head">
      <tr>
        <th>Invoice No.</th>
        <th>Title</th>
        <th>Supplier</th>
        <th>Warehouse</th>
        <th>Transaction_ID</th>
        <th>Quantity</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of AllPurchaseData">
        <td>{{ item.invoice_no }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.account_name }}</td>
        <td>{{ item.warehouse_name }}</td>
        <td>{{ item.transaction }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.date }}</td>
        <td>
          <button class="btn btn-outline-success "><i class="bi bi-eye-fill"></i></button>
          <button class="btn btn-outline-primary mx-2">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button class="btn btn-outline-danger">
            <i class="bi bi-trash3-fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p>Page {{ currentPage }} of {{ totalPages }}</p>
<nav id="{{ id }}" aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item">
      <a
        class="page-link"
        aria-label="Previous"
        (click)="onPageChange(currentPage - 1)"
        >Previous</a
      >
    </li>
    <li
      class="page-item"
      *ngFor="let page of pages"
      [class.active]="currentPage === page"
    >
      <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
    </li>
    <li class="page-item">
      <a
        class="page-link"
        aria-label="Next"
        (click)="onPageChange(currentPage + 1)"
        >Next</a
      >
    </li>
  </ul>
</nav>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">
      Add Purchase!
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="update_form">
      <div class="form-group row">
        <div class="col">
          <label for="supplierTitle" class="float-start my-2"
            >Invoice No:</label
          >
          <input
            type="number"
            id="purchaseInvoice"
            class="form-control"
            placeholder="Invoice Number"
          />
        </div>
        <div class="col">
          <label for="supplierContact" class="py-2">Supplier*:</label>
          <ng-select id="supplierStatus" class="form-ng-select">
            <ng-option *ngFor="let item of suppliers">{{
              item.title
            }}</ng-option>
          </ng-select>
        </div>

        <div class="col">
          <label for="supplierBalance" class="float-start my-2">Date*:</label>
          <input type="date" id="purchaseDate" class="form-control" />
        </div>

        <div class="col">
          <label for="supplierBalance" class="py-2">Warehouse*:</label>
          <ng-select id="supplierStatus" class="form-ng-select">
            <ng-option
              class=".ng-dropdown-panel"
              *ngFor="let data of products"
              >{{ data.name }}</ng-option
            >
          </ng-select>
        </div>
      </div>
      <br />
      <div class="col">
        <label for="supplierBalance" class="py-2">Products*:</label>
        <ng-select
          class="form-ng-select"
          [(ngModel)]="selectedProduct"
          [bindValue]="'name'"
          [bindLabel]="'name'"
          (change)="isProductSelected = true"
        >
          <ng-option
            class="ng-option"
            *ngFor="let value of productData"
            [value]="value"
            >{{ value.name }}</ng-option
            >
          </ng-select>
        </div>
      </div>
      <button class="btn btn-primary my-2" (click)="addProduct()">add Product</button>
    <br />
    <div class="top-sellling">
      <table class="table table-striped text-center table-bordered table-hover">
        <thead class="table-head">
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngIf="isProductSelected">
            <td>
              <input
                type="text"
                [(ngModel)]="selectedProduct"
                id="selectedProduct"
                name="selectedProduct"
                class="form-control my-3"
                placeholder="product Name"
                readonly
                disabled="true"
              />
            </td>

            <td>
              <div class="input-group mb-3 my-3">
                <span class="input-group-text">$</span>
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="quantity"
                  (input)="updateTotal()"
                />
              </div>
            </td>
            <td>
              <div class="input-group mb-3 my-3">
                <span class="input-group-text">$</span>
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="price"
                  (input)="updateTotal()"
                />
              </div>
            </td>
            <td>
              <div class="input-group mb-3 my-3">
                <span class="input-group-text">$</span>
                <input
                  type="number"
                  class="form-control"
                  readonly
                  disabled="true"
                  [(ngModel)]="total"
                  (input)="updateTotal()"
                />
              </div>
            </td>
            <td><button class="btn btn-outline-danger my-3">Remove</button></td>
          </tr>
        </tbody>
      </table>
      <label class="py-2 mx-3"> Remarks: </label>
      <div class="form-group d-flex">
        <div class="px-3">
          <textarea
            class="form-control"
            name=""
            id=""
            cols="100"
            rows="8"
          ></textarea>
        </div>
        <div class="col float-end">
          <label class="my-1">Total Price</label>
          <div class="input-group ">
            <span class="input-group-text">$</span>
            <input
              type="number"
              class="form-control"
              readonly
              disabled="true"
              [(ngModel)]="total"
              (input)="updateTotal()"
            />
          </div>
          <br />
          <label class="my-1">Discount</label>
          <div class="input-group ">
            <span class="input-group-text">$</span>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="discount"
              (input)="updateTotal()"
            />
          </div>
          <br />
          <label class="my-1">Payable Amount</label>
          <div class="input-group ">
            <span class="input-group-text">$</span>
            <input
              type="number"
              class="form-control"
              readonly
              disabled="true"
              [(ngModel)]="total"
              (input)="updateTotal()"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="form-group row overflow-hidden">
        <div class="col">
          <label for="supplierStatus" class="float-start my-2">Status:</label>
          <select id="supplierStatus" class="form-select">
            <option>Enabled</option>
            <option>Disabled</option>
          </select>
        </div>

        <div class="col">
          <label for="supplierEmail" class="float-start my-2">Email:</label>
          <input
            type="email"
            id="supplierEmail"
            class="form-control"
            placeholder="Supplier Email"
          />
        </div>
      </div>
      <br />
      <div class="form-group overflow-hidden">
        <label for="supplierAddress" class="float-start my-2">Address:</label>
        <textarea
          class="form-control"
          id="supplierAddress"
          placeholder="Supplier Address"
          rows="3"
        ></textarea>
      </div>
      <br /> -->
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click')"
    >
      Add
    </button>
  </div>
</ng-template>
