<h1 class="fs-3 mt-5">All Purchases</h1>

<div
  *ngIf="isLoading"
  class="spinner-border text-primary my-1 spinneer"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<br />

<div class="add-categories">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search Stock Purchase"
      [(ngModel)]="searchTerm"
      (keydown)="search()"
    />
    <button class="btn btn-primary" (click)="(search)">
      <i class="bi bi-search"></i>
    </button>
    <button
      type="button"
      class="btn btn-outline-primary mx-2"
      (click)="openXl(content)"
    >
      <i class="bi bi-plus-circle"></i> Add new
    </button>
    <button class="btn btn-outline-danger" (click)="generatePDF()">
      <i class="bi bi-arrow-down-circle"></i> PDF
    </button>
    <button class="btn btn-outline-dark mx-1" (click)="refreshPage()">
      <i class="bi bi-arrow-clockwise"></i>Load
    </button>
  </div>
</div>

<div class="top-sellling">
  <table class="table table-striped text-center table-bordered table-hover">
    <thead class="table-head">
      <tr>
        <th>#</th>
        <th>Invoice No.</th>
        <th>Title</th>
        <th>Supplier</th>
        <th>Warehouse</th>
        <th>Transaction_ID</th>
        <th>Quantity</th>
        <th>Amount</th>

        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container
        *ngIf="AllPurchaseData?.results.length > 0; else noRecordsTemplate"
      >
        <tr *ngFor="let item of AllPurchaseData?.results; let i = index">
          <td>{{ item.id }}</td>
          <td>{{ item.invoice_no }}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.account_name }}</td>
          <td>{{ item.warehouse_name }}</td>
          <td>{{ item.transaction }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.date }}</td>
          <td>
            <button
              class="btn btn-outline-success mx-1 my-1"
              (click)="openXl2(content2)"
              (click)="getStockList(item.id)"
            >
              <i class="bi bi-eye-fill"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-dark"
              (click)="openAddProductModal(content3, item)"
            >
              <i class="bi bi-plus-circle"></i>
            </button>

            <button
              class="btn btn-outline-danger mx-1 my-1"
              (click)="deletePurchase(item.id)"
            >
              <i class="bi bi-trash3-fill"></i>
            </button>
            <button
              class="btn btn-outline-secondary"
              (click)="getDetails(item.id)"
              (click)="open(invoice)"
            >
              <!-- (click)="generatePDF()" -->
              <i class="bi bi-filetype-pdf"></i>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
    <ng-template #noRecordsTemplate>
      <tr>
        <td colspan="12">No records found</td>
      </tr>
    </ng-template>
  </table>
  <app-pagination [data]="AllPurchaseData"></app-pagination>
</div>

<!-- code for adding purchase -->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">
      Add Purchase!
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="update_form">
      <div class="form-group row">
        <!-- <div class="col-sm">
          <label for="purchaseInvoice" class="float-start my-2"
            >Invoice No:</label
          >
          <input
            type="number"
            id="purchaseInvoice"
            class="form-control"
            placeholder="Invoice Number"
            [(ngModel)]="purchaseInvoice"
          />
        </div> -->
        <div class="col-sm">
          <label for="supplierContact" class="py-2">Supplier*:</label>
          <ng-select
            id="supplierStatus"
            class="form-ng-select"
            [(ngModel)]="selectedSupplier"
          >
            <ng-option *ngFor="let item of suppliers" [value]="item.id">{{
              item.title
            }}</ng-option>
          </ng-select>
        </div>

        <div class="col-sm">
          <label for="purchaseDate" class="float-start my-2">Date*:</label>
          <input
            type="date"
            id="purchaseDate"
            class="form-control"
            [(ngModel)]="purchaseDate"
          />
        </div>

        <div class="col-sm">
          <label for="warehouse" class="py-2">Warehouse*:</label>
          <ng-select
            id="warehouse"
            class="form-ng-select"
            [(ngModel)]="selectedWarehouse"
          >
            <ng-option
              class=".ng-dropdown-panel"
              *ngFor="let data of products"
              [value]="data.id"
              >{{ data.title }}</ng-option
            >
          </ng-select>
        </div>
      </div>
      <br />
      <div class="col-sm">
        <label for="selectedProduct" class="py-2">Products*:</label>
        <ng-select
          class="form-ng-select"
          [(ngModel)]="selectedProduct"
          id="selectedProduct"
          [bindValue]="'name'"
          [bindLabel]="'name'"
          (change)="isProductSelected = true"
        >
          <ng-option
            class="ng-option"
            *ngFor="let value of productData"
            [value]="value.id"
            >{{ value.name }}</ng-option
          >
        </ng-select>
        <button class="btn btn-primary my-2" (click)="addProduct()">
          add Product
        </button>
      </div>
    </div>
    <br />
    <div class="top-sellling">
      <table class="table table-striped text-center table-bordered table-hover">
        <thead class="table-head">
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="text-center m-auto justify-content-center"
            *ngFor="let row of rows; let i = index"
          >
            <td class="text-center my-3">{{ row.product.name }}</td>
            <td>
              <input
                class="form-control"
                type="number"
                [(ngModel)]="row.quantity"
                (input)="updateTotal()"
              />
            </td>
            <td>
              <input
                class="form-control"
                type="number"
                [(ngModel)]="row.price"
                (input)="updateTotal()"
              />
            </td>
            <td>
              <input
                class="form-control"
                type="number"
                [(ngModel)]="row.quantity * row.price"
                (input)="updateTotal()"
              />
            </td>
            <td>
              <button class="btn btn-outline-danger" (click)="removeProduct(i)">
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-group col-sm">
        <label class="py-2"> Remarks: </label>
        <div>
          <textarea
            class="form-control"
            name=""
            id=""
            cols="100"
            rows="2"
            id="title"
            [(ngModel)]="selectedRemark"
          ></textarea>
        </div>
        <div class="col-sm float-end">
          <div class="col-sm">
            <label class="my-1">Grand Total</label>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="grandTotal"
                disabled="true"
                readonly
              />
            </div>
          </div>

          <br />
          <label class="my-1">Discount</label>
          <div class="input-group col-sm">
            <span class="input-group-text">$</span>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="discount"
              (input)="updateTotal()"
            />
          </div>
          <br />
          <label class="my-1">Payable Amount</label>
          <div class="input-group col-sm">
            <span class="input-group-text">$</span>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="grandTotal"
              (input)="updateTotal()"
              disabled="true"
              readonly
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click')"
      (click)="addPurchase()"
    >
      Add
    </button>
  </div>
</ng-template>

<!--  model for showing stock list data -->

<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h2 class="modal-title text-center" id="modal-basic-title">Stock List</h2>
    <div class="loader">
      <div
        *ngIf="isLoading"
        class="spinner-border text-primary"
        role="status"
      ></div>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <table class="table table-striped text-center table-bordered table-hover">
      <thead class="table-head">
        <!-- *ngIf="searchedPurchaseData.length > 0" -->
        <tr>
          <th>Id</th>

          <th>Account Name</th>
          <th>Product Name</th>
          <th>Warehouse Name</th>
          <th>Stock Purchase</th>
          <!-- <th>Product_ID</th> -->
          <th>Amount</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stocks">
          <td>{{ stock.id }}</td>
          <td>{{ stock.account_name }}</td>
          <td>{{ stock.product_name }}</td>
          <!-- <td>{{ stock.product }}</td> -->
          <td>{{ stock.warehouse_name }}</td>
          <td>{{ stock.quantity }}</td>
          <td>{{ stock.amount }}</td>
          <td>{{ stock.date }}</td>
          <td>
            <button
              class="btn btn-outline-danger"
              (click)="deleteStockList(stock.id, stock.stock_purchase)"
            >
              <i class="bi bi-trash3-fill"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal-footer"></div>
</ng-template>
<!-- <ng-template #content3 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">
      Update Purchase!
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="col-sm">
      <label for="selectedProduct" class="py-2">Products*:</label>
      <select
        class="form-select"
        [(ngModel)]="selectedProduct"
        id="selectedProduct"
        #product
        (change)="isProductSelected = true"
        #update_stock_product
      >
        <option
          class="ng-option"
          *ngFor="let value of productData"
          [value]="value.id"
        >
          {{ value.name }}
        </option>
      </select>

      <label for="" class="p-2">Quantity</label>
      <input
        type="number"
        class="form-control"
        id="quantity"
        s
        [(ngModel)]="quantity"
        #q
      />

      <label for="" class="p-2">Price</label>
      <input type="number" class="form-control" #p />

      <label for="" class="p-2">date</label>

      <input type="date" class="form-control" #update_stock_date />
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="postUpdateStock(update_stock_product, q, p, update_stock_date)"
    >
      Add Product
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="c('close')">
      Close
    </button>
  </div>
</ng-template> -->
<ng-template #content3 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">
      Update Purchase!
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="col-sm">
      <form [formGroup]="purchaseForm">
        <label for="selectedProduct" class="py-2">Products*:</label>
        <select
          class="form-select"
          formControlName="selectedProduct"
          id="selectedProduct"
          (change)="isProductSelected = true"
          #update_stock_product
        >
          <option
            class="ng-option"
            *ngFor="let value of productData"
            [value]="value.id"
          >
            {{ value.name }}
          </option>
        </select>

        <label for="" class="p-2">Quantity</label>
        <input
          type="number"
          class="form-control"
          formControlName="quantity"
          id="quantity"
        />

        <label for="" class="p-2">Price</label>
        <input type="number" class="form-control" formControlName="price" />

        <label for="" class="p-2">date</label>
        <input type="date" class="form-control" formControlName="date" />
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="postUpdateStock()"
      [disabled]="purchaseForm.invalid"
    >
      Add Product
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="c('close')">
      Close
    </button>
  </div>
</ng-template>
<!-- <================================== code for generating reciept ==========================================> -->
<ng-template #invoice let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body" id="pdf-content">
    <div class="d-flex">
      <img src="assets/images/iva.png" width="100px" height="70px" alt="" />
    </div>
    <br /><br />

    <div class="receipt">
      <div class="left-column" *ngFor="let item of details">
        <h2>Supplier's Details</h2>

        <p>
          <Span class="span">Name:</Span>
          {{ item?.account.title }}
        </p>
        <p>
          <Span class="span">Contact:</Span>
          {{ item?.account.contact }}
        </p>
        <p><Span class="span">Email:</Span> {{ item?.account.email }}</p>
        <p><Span class="span">Address: </Span>{{ item?.account.address }}</p>
      </div>
      <h4 class="fs-5 justify-content-center NEW" id="modal-basic-title">
        Stock Purchase!
      </h4>
      <div class="float-end" *ngFor="let item of details">
        <h2>Bill From</h2>
        <p><Span class="span">Invoice No:</Span> {{ item.invoice_no }}</p>
        <p *ngFor="let stockItem of item.stocks">
          <Span class="span">Date:</Span> {{ stockItem?.date }}
        </p>
        <p>
          <Span class="span">Warehouse Name:</Span> {{ item?.warehouse_name }}
        </p>

        <!-- <p>
          <Span class="span">Remarks:</Span> {{ item?.remarks }}
        </p> -->
      </div>
    </div>
    <div>
      <table class="table table-striped text-center table-bordered table-hover">
        <thead class="table-head">
          <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of details; let i = index">
            <tr *ngFor="let saleItem of item.stocks; let j = index">
              <td>{{ j + 1 }}</td>
              <td>{{ saleItem.product_name }}</td>
              <td>{{ saleItem.price }}</td>
              <td>{{ saleItem.quantity }}</td>
              <td>{{ saleItem.amount }}</td>
              <!-- <td *ngIf="j === 0">{{ item?.quantity }}</td>
              <td *ngIf="j === 0">{{ item?.sale_amount }}</td> -->
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <br /><br />
    <!-- <div *ngFor="let saleItem of data.sale_items; let j = index">
      <p class="total">
        <span>Total Per Product:</span>{{ saleItem?.price }}
      </p>
    </div> -->
    <div class="float-end price" *ngFor="let data of details; let i = index">
      <p class="newtotal">
        <span class="total">Total Quantity:</span> {{ data.quantity }}
      </p>
      <p class="newtotal">
        <span class="total">Total Amount:</span> {{ data.amount }}
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-primary" (click)="generatePDF()">
      Print
    </button>
  </div>
</ng-template>
