<h1>Charts Of Accounts</h1>
<div class="form-group row mt-3">
  <div class="col">
    <label class="form-label">Main Layer:</label>
    <select
      name="main_layer"
      class="form-select"
      [(ngModel)]="selectedMainLayer"
      (change)="onMainLayerChange($event)"
    >
      <option value="null">Select Main Layer</option>
      <option value="assets">Assests</option>
      <option value="equity">Equity</option>
      <option value="expense">Expense</option>
      <option value="liability">Liability</option>
      <option value="revenue">Revenue</option>
    </select>
  </div>
  <div class="col">
    <label class="form-label">Layer 1:</label>
    <select
      name="layer1"
      class="form-select"
      [(ngModel)]="selectedLayer1"
      (change)="onLayer1Change(selectedLayer1)"
    >
      <option>Select Layer 1</option>
      <option [value]="item.id" *ngFor="let item of layer1">
        {{ item.name }}
      </option>
    </select>
    <button
      class="btn btn-outline-success my-1 mx-1"
      data-bs-toggle="modal"
      data-bs-target="#mainLayerModal"
      (click)="addLayer_one_new_account(selectedMainLayer)"
    >
      <i class="bi bi-plus-circle"></i>
    </button>
    <!-- <button
      class="btn btn-outline-success my-1"
      data-bs-toggle="modal"
      data-bs-target="#mainLayerModal"
      (click)="updateLayer_one_new_account(selectedLayer1,item)"
    >
    <i class="bi bi-pencil-square"></i>
    </button> -->
    <button
      class="btn btn-outline-danger my-1 mx-1"
      data-bs-toggle="modal"
      data-bs-target="#mainLayerModal"
      (click)="DeleteLayer_one_new_account(selectedMainLayer, selectedLayer1)"
    >
      <i class="bi bi-trash3-fill"></i>
    </button>
  </div>
  <!-- addLayer_one_new_account() -->

  <div class="col">
    <label class="form-label">Layer 2:</label>
    <select name="layer2" class="form-select" [(ngModel)]="selectedLayer2">
      <option>Select Layer 2</option>
      <option [value]="value.id" *ngFor="let value of layer2">
        {{ value.name }}
      </option>
    </select>

    <button
      class="btn btn-outline-success my-1 mx-1"
      data-bs-toggle="modal"
      data-bs-target="#mainLayerModal"
      (click)="addLayer_two_new_account(selectedLayer1)"
    >
      <i class="bi bi-plus-circle"></i>
    </button>

    <button
      class="btn btn-outline-danger my-1 mx-1"
      data-bs-toggle="modal"
      data-bs-target="#mainLayerModal"
      (click)="DeleteLayer_two_new_account(item)"
    >
      <i class="bi bi-trash3-fill"></i>
    </button>
    <button
      class="btn btn-primary mt-2 float-end"
      [disabled]="!selectedLayer2"
      (click)="addAccount()"
    >
      <i class="bi bi-plus-circle-fill"></i> Add Account
    </button>
  </div>
</div>
<br />

<div class="mt-4 top-sellling">
  <button class="btn btn-outline-danger float-end my-1" (click)="generatePDF()">
    <i class="bi bi-arrow-down-circle"></i> PDF
  </button>
  <table class="table table-striped text-center table-bordered table-hover">
    <thead class="table-head bg-primary text-white">
      <tr>
        <th>ID</th>
        <th>Account Title</th>
        <th>Contact</th>
        <th>Status</th>
        <th>Balance</th>
        <th>Email</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let account of accountData
            | paginate : { itemsPerPage: 10, currentPage: p }
        "
      >
        <td>{{ account.id }}</td>
        <td>{{ account.title }}</td>
        <td>{{ account.contact }}</td>

        <td>
          <button
            class="btn btn-outline-success"
            *ngIf="account.status === true"
          >
            Active
          </button>
          <button
            class="btn btn-outline-warning"
            *ngIf="account.status === false"
          >
            Inactive
          </button>
        </td>
        <td>{{ account.balance }}</td>
        <td>{{ account.email }}</td>
        <td>{{ account.address }}</td>
        <td>
          <button
            class="btn btn-outline-primary mx-2"
            (click)="updateAccount(account)"
          >
            <i class="bi bi-pencil-square"></i>
          </button>
          <button
            class="btn btn-outline-danger"
            (click)="deleteAccount(account.id)"
          >
            <i class="bi bi-trash3-fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <pagination-controls
      class="my-pagination"
      (pageChange)="p = $event"
    ></pagination-controls>
  </table>
</div>
