<app-login *ngIf="!isLoggedIn"></app-login>
<div *ngIf="showSidebar">
  <mat-toolbar class="fixed-toolbar">
    <mat-toolbar-row>
      <img
        width="50px"
        height="50px"
        src="assets/images/iva2.png"
        alt=""
        (click)="sidenav.toggle()"
      />
      <!-- <i class="bi bi-hdd-stack-fill text-white" (click)="sidenav.toggle()"></i> -->
      <h1 class="mt-2 mx-3 text-white">Iva Mobiles</h1>
      <div
        class="input-group col-sm-6 w-25 justify-content-center align-item-center m-auto"
      ></div>
      <!-- <div class="profile" routerLink="changePassword">
        <i class="bi bi-person-circle"></i><img src="" alt="" />
      </div> -->

      <div class="btn-group">
        <div
          type="button"
          class="dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-person-circle"></i>
        </div>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="changePassword"
              >Change Password</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" (click)="logout()">
              <i class="bi bi-box-arrow-right"></i> Log Out</a
            >
          </li>
        </ul>
      </div>
      <p class="text-white">{{ user }}</p>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side">
      <mat-nav-list class="mat-sidebar" style="width: 245px">
        <ul class="sidenav-nav">
          <li class="sidenav-nav-item" routerLink="dashboard">
            <i class="bi bi-house-gear-fill"></i>
            <span class="sidenav-nav-link-text">Dashboard</span>
          </li>
          <li
            class="sidenav-nav-item submanu"
            (click)="toggleSubMenu()"
            [ngClass]="{ isActive: isActive }"
          >
            <i class="bi bi-file-ppt-fill"></i>
            <span class="sidenav-nav-link-text">Manage Product</span>
            <i
              class="bi bi-chevron-down float-end"
              style="
                font-size: 12px;
                font-weight: bold;
                text-align: center;
                margin: auto;
                margin-top: 5px;
              "
              [ngClass]="{ rotate: showSubMenu }"
            ></i>
            <div *ngIf="showSubMenu">
              <li routerLink="categories">
                <span class="mat-list-item"
                  ><i class="bi bi-hypnotize" style="font-size: 12px"></i>
                  Categories</span
                >
              </li>
              <li routerLink="brands">
                <span class="mat-list-item"
                  ><i class="bi bi-hypnotize" style="font-size: 12px"></i>
                  Brands</span
                >
              </li>
              <li routerLink="units">
                <span class="mat-list-item"
                  ><i class="bi bi-hypnotize" style="font-size: 12px"></i>
                  Units</span
                >
              </li>
              <li routerLink="products">
                <span class="mat-list-item"
                  ><i class="bi bi-hypnotize" style="font-size: 12px"></i>
                  Products</span
                >
              </li>
            </div>
          </li>
          <li class="sidenav-nav-item" routerLink="accounts">
            <i class="bi bi-diagram-3-fill"></i>
            <span class="sidenav-nav-link-text">Accounts</span>
          </li>
          <li class="sidenav-nav-item" routerLink="voucher">
            <i class="bi bi-badge-vo"></i>
            <span class="sidenav-nav-link-text">Voucher</span>
          </li>
          <li class="sidenav-nav-item" routerLink="transaction">
            <i class="bi bi-cash-coin"></i>
            <span class="sidenav-nav-link-text">Transactions</span>
          </li>
          <li class="sidenav-nav-item" routerLink="staff">
            <i class="bi bi-microsoft-teams"></i>
            <span class="sidenav-nav-link-text">Staff</span>
          </li>
          <!-- <li class="sidenav-nav-item" routerLink="permission">
            <i class="bi bi-microsoft-teams"></i>
            <span class="sidenav-nav-link-text">Permissions</span>
          </li> -->
          <li class="sidenav-nav-item" routerLink="warehouse">
            <i class="bi bi-shop"></i>
            <span class="sidenav-nav-link-text">Warehouse</span>
          </li>

          <li class="sidenav-nav-item" routerLink="customer">
            <i class="bi bi-people"></i>
            <span class="sidenav-nav-link-text">Customer</span>
          </li>
          <li class="sidenav-nav-item" routerLink="supplier">
            <i class="bi bi-receipt-cutoff"></i>
            <span class="sidenav-nav-link-text">Supplier</span>
          </li>
          <li class="sidenav-nav-item" routerLink="All-purchase">
            <i class="bi bi-bag-heart"></i>
            <span class="sidenav-nav-link-text">All Purchase</span>
          </li>

          <li class="sidenav-nav-item" routerLink="Sale">
            <i class="bi bi-cash-stack"></i>
            <span class="sidenav-nav-link-text">All Sale</span>
          </li>

          <!-- <li class="sidenav-nav-item" (click)="logout()">
            <i class="bi bi-box-arrow-right"></i>
            <span class="sidenav-nav-link-text">Log Out</span>
          </li> -->
        </ul>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="p-4" style="height: 100vh">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<router-outlet *ngIf="!showSidebar"></router-outlet>
