<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li
      class="page-item"
      style="cursor: pointer"
      [class.disabled]="!data?.previous"
      (click)="loadPrev(data)"
    >
      <a class="page-link">Previous</a>
    </li>
    <li
      class="page-item"
      style="cursor: pointer"
      [class.active]="data?.current == num"
      *ngFor="let num of data?.pages"
      (click)="loadPage(num)"
    >
      <a class="page-link">{{ num }}</a>
    </li>
    <li
      class="page-item"
      style="cursor: pointer"
      [class.disabled]="!data?.next"
      (click)="loadNext(data)"
    >
      <a class="page-link">Next</a>
    </li>
  </ul>
</nav>
