<h1 class="fs-3 mt-5">All Suppliers</h1>



<br />
<div class="add-categories">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control w-25"
      placeholder="Search Suppliers"
      name="title"
      [(ngModel)]="title"
      (ngModelChange)="Search()"
    />
    <button class="btn btn-primary">
      <i class="bi bi-search"></i>
    </button>
    <button
      type="button"
      class="btn btn-outline-primary mx-2"
      (click)="addSupplier()"
    >
      <i class="bi bi-plus-circle"></i> Add new
    </button>
    <button class="btn btn-outline-danger" (click)="generatePDF()">
      <i class="bi bi-arrow-down-circle"></i> PDF
    </button>
  </div>
</div>

<div class="top-sellling">
  <table class="table table-striped text-center table-bordered table-hover">
    <thead class="table-head">
      <tr>
        <th style="width: 25%">S.N</th>
        <th>Title</th>
        <th>Address</th>
        <th>Balance</th>
        <th>Status</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let supplier of suppliers?.results
        "
      >
        <td>{{ supplier.id }}</td>
        <td>{{ supplier.title }}</td>
        <td>{{ supplier.address }}</td>
        <td>{{ supplier.balance }}</td>
        <td>
          <button
            class="btn btn-outline-success"
            *ngIf="supplier.status === true"
          >
            Enabled
          </button>
          <button
            class="btn btn-outline-warning"
            *ngIf="supplier.status === false"
          >
            Disabled
          </button>
        </td>
        <td>{{ supplier.email }}</td>
        <td>{{ supplier.contact }}</td>
        <td>
          <button
            class="btn btn-outline-primary mx-2 my-1"
            (click)="openUpdateModal(supplier)"
          >
            <i class="bi bi-pencil-square"></i>
          </button>
          <button
            class="btn btn-outline-danger"
            (click)="deleteSupplier(supplier.id)"
          >
            <i class="bi bi-trash3-fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
   
  </table>
  <app-pagination [data]="suppliers"></app-pagination>
</div>
