<h1 class="fs-3 mt-5">All Products</h1>

<div class="add-categories">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control w-25"
      placeholder="Search Products"
      name="name"
      [(ngModel)]="name"
      (ngModelChange)="Search()"
    />
    <button class="btn btn-primary">
      <i class="bi bi-search"></i>
    </button>
    <button
      type="button"
      class="btn btn-outline-primary mx-2"
      (click)="open(content)"
    >
      <i class="bi bi-plus-circle"></i> Add new
    </button>
    <button class="btn btn-outline-danger" (click)="generatePDF()">
      <i class="bi bi-arrow-down-circle"></i> PDF
    </button>
  </div>
</div>
<div class="top-sellling">
  <table class="table table-striped text-center table-bordered table-hover">
    <thead class="table-head">
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Category</th>
        <th>Note</th>
        <th>Unit</th>
        <th>Brand</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let product of productData1
            | paginate : { itemsPerPage: 9, currentPage: p }
        "
      >
        <td>
          <img width="50px" height="50px" src="{{ product.image }}" alt="" />
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product.category_name }}</td>

        <td>{{ product.note }}</td>
        <td>{{ product.unit_name }}</td>
        <td>{{ product.brand_name }}</td>
        <td>
          <button
            class="btn btn-outline-primary mx-2"
            (click)="open(content3)"
            (click)="update_product(product)"
          >
            <i class="bi bi-pencil-square"></i>
          </button>
          <button
            class="btn btn-outline-danger"
            (click)="deleteProduct(product.id)"
          >
            <i class="bi bi-trash3-fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls
    class="my-pagination"
    (pageChange)="p = $event"
  ></pagination-controls>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div
    class="modal-header"
    style="background-color: var(--bs-primary-bg-subtle)"
  >
    <h4 class="modal-title mt-3 fs-3" id="modal-basic-title">Add Products</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="productForm">
      <div class="form-group row">
        <div class="col">
          <label class="form-label">Name:</label>
          <input
            type="text"
            placeholder="Enter Product Name"
            class="form-control"
            name="name"
            formControlName="name"
            required
          />
        </div>
        <!-- <div class="col">
          <label class="form-label">Quantity:</label>
          <input
            type="number"
            class="form-control"
            name="quantity"
            formControlName="quantity"
            required
          />
        </div> -->
      </div>
      <div class="form-group mt-3">
        <div class="col">
          <label class="form-label">Image:</label>
          <span class="text-danger">Only PNG,JPG and JPEG are allowed</span>

          <input
            class="form-control-file"
            type="file"
            name="image"
            formControlName="image"
            (change)="onFileSelected($event)"
          />
        </div>
      </div>
      <div class="form-group row mt-3">
        <div class="col">
          <label class="form-label">Brand:</label>
          <select
            name="brand"
            class="form-control"
            formControlName="brand"
            required
          >
            <option *ngFor="let brand of brands" [value]="brand.id">
              {{ brand.name }}
            </option>
          </select>
        </div>
        <div class="col">
          <label class="form-label">Unit:</label>
          <select
            name="unit"
            class="form-control"
            formControlName="unit"
            required
          >
            <option *ngFor="let unit of units" [value]="unit.id">
              {{ unit.name }}
            </option>
          </select>
        </div>
        <div class="col">
          <label class="form-label">Category:</label>
          <select
            name="category"
            class="form-control"
            formControlName="category"
            required
          >
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
        </div>
        <div class="form-group mt-2">
          <label class="form-label">Note:</label>
          <!-- <input type="text" class="form-control" name="note" formControlName="note" /> -->
          <textarea
            type="text"
            class="form-control"
            placeholder="Write something about the product"
            formControlName="note"
            name="note"
            id=""
            cols="30"
            rows="3"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addProduct()">
      Add Product
    </button>
  </div>
</ng-template>
<ng-template #content3 let-c="close" let-d="dismiss">
  <div
    class="modal-header"
    style="background-color: var(--bs-primary-bg-subtle)"
  >
    <h4 class="modal-title mt-3 fs-3" id="modal-basic-title">Add Products</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="productForm">
      <div class="form-group row">
        <div class="col">
          <label class="form-label">Name:</label>
          <input
            type="text"
            placeholder="Enter Product Name"
            class="form-control"
            name="name"
            [(ngModel)]="updateProduct.name"
            formControlName="name"
            required
          />
        </div>
        <!-- <div class="col">
          <label class="form-label">Quantity:</label>
          <input
            type="number"
            class="form-control"
            name="quantity"
            formControlName="quantity"
            required
          />
        </div> -->
      </div>
      <div class="form-group mt-3">
        <div class="col">
          <label class="form-label">Image:</label>
          <span class="text-danger">Only PNG,JPG and JPEG are allowed</span>

          <input type="file" #fileInput (change)="onFileSelected2($event)" />
        </div>
      </div>
      <div class="form-group row mt-3">
        <div class="col">
          <label class="form-label">Brand:</label>
          <select
            name="brand"
            class="form-control"
            [(ngModel)]="updateProduct.brand"
            formControlName="brand"
            required
          >
            <option *ngFor="let brand of brands" [value]="brand.id">
              {{ brand.name }}
            </option>
          </select>
        </div>
        <div class="col">
          <label class="form-label">Unit:</label>
          <select
            name="unit"
            class="form-control"
            [(ngModel)]="updateProduct.unit"
            formControlName="unit"
            required
          >
            <option *ngFor="let unit of units" [value]="unit.id">
              {{ unit.name }}
            </option>
          </select>
        </div>
        <div class="col">
          <label class="form-label">Category:</label>
          <select
            name="category"
            class="form-control"
            [(ngModel)]="updateProduct.category"
            formControlName="category"
            required
          >
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
        </div>
        <div class="form-group mt-2">
          <label class="form-label">Note:</label>
          <!-- <input type="text" class="form-control" name="note" formControlName="note" /> -->
          <textarea
            type="text"
            class="form-control"
            placeholder="Write something about the product"
            formControlName="note"
            name="note"
            [(ngModel)]="updateProduct.note"
            id=""
            cols="30"
            rows="3"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      value="Update"
      class="btn btn-outline-dark"
      (click)="onFileSelected2($event)"
      (click)="update_product_Data()"
    >
      Update Product
    </button>
  </div>
</ng-template>
