<h1 class="fs-2">Dashboard</h1>
<div class="box-container">
  <div class="box">
    <div class="text">
      <div class="text-box">
        <div class="iconss">
          <i class="bi bi-cart-check-fill p-2"></i>
          <h2 class="topic">Daily Sales</h2>
        </div>
        <div *ngFor="let item of dailySale">
          <h2 class="topic-heading" style="color: rgb(14, 96, 248)">
            Rs:{{ item.amount }}
          </h2>
        </div>
      </div>
      <!-- <button class="dash-btn" style="background-color: rgb(14, 96, 248)">
        View All
      </button> -->
    </div>
  </div>

  <div class="box">
    <div class="text">
      <div class="iconss">
        <i class="bi bi-arrow-90deg-left p-2"></i>
        <div>
          <h2 class="topic">Monthly Sale</h2>
        </div>
      </div>
      <div *ngFor="let monthly of monthlySale">
        <h2 class="topic-heading" style="color: #ff9f43">
          Rs:{{ monthlySale }}
        </h2>
      </div>
      <!-- <button class="dash-btn" style="background-color: #ff9f43">
        View All
      </button> -->
    </div>
  </div>
  <div class="box">
    <div class="text">
      <div class="iconss">
        <i class="bi bi-bag-plus-fill p-2"></i>
        <h2 class="topic">Purchases</h2>
      </div>
      <h2 class="topic-heading" style="color: #28c76f">Rs:0</h2>
      <button class="dash-btn" style="background-color: #28c76f">
        View All
      </button>
    </div>
  </div>
  <div class="box">
    <div class="text">
      <div class="iconss">
        <i class="bi bi-arrow-90deg-right p-2"></i>
        <h2 class="topic">Purchase Return</h2>
      </div>
      <h2 class="topic-heading" style="color: #ea5455">Rs:0</h2>
      <button class="dash-btn" style="background-color: #ea5455">
        View All
      </button>
    </div>
  </div>
</div>
<div class="text-danger fs-1">
  <ul>
    <li>Amount:{{ monthlySale[0]?.amount}}</li>
  </ul>
  
</div>

<br />
<div style="display: block">
  <canvas
    baseChart
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [legend]="lineChartLegend"
  ></canvas>
</div>
<br /><br />

<!-- <div class="text-danger fs-3" *ngFor="let sale of monthlySale">Rs:{{ sale.amount }}</div> -->
