* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.box-container {
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.box {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 394px;
  display: flex;
  height: auto;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: transform 0.3s ease-in-out;
}
.text {
  padding: 20px;
  margin-top: -10px;
}
.topic {
  font-size: 15px;
  margin-top: 5px;
  font-weight: bold;
}

.topic-heading {
  font-size: 24px;
  color: #00b894;
  margin-bottom: 10px;
}
.dash-btn {
  background-color: #00b894;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.iconss {
  display: flex;
  text-align: center;
  justify-content: start;
  float: left;
}
.bi-cart-check-fill {
  font-size: 19px;
  font-weight: bold;
  color: rgb(14, 96, 248);
}
.bi-arrow-90deg-left {
  color: #ff9f43;
  font-weight: bold;
  font-size: 19px;
}
.bi-arrow-90deg-right {
  color: #ea5455;
  font-weight: bold;
  font-size: 19px;
}
.bi-bag-plus-fill {
  color: #28c76f;
  font-weight: bold;
  font-size: 19px;
}
.table-head {
  background-color: rgb(37, 108, 240);
  color: white;
}
.table-no2 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  /* gap: 40px; */
  justify-content: space-around;
}
.table-h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.fs-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
