<h1 class="fs-3 mt-5">Dashboard</h1>

<div class="box-container">
  <div class="box">
    <div class="text">
      <div class="text-box">
        <div class="iconss">
          <i class="bi bi-cart-check-fill p-2"></i>
          <h2 class="topic">Daily Sales</h2>
        </div>
        <div>
          <h2 class="topic-heading" style="color: rgb(14, 96, 248)">
            Rs:{{ daily_Sale_amount }}
          </h2>
        </div>
      </div>
      <!-- <button class="dash-btn" style="background-color: rgb(14, 96, 248)">
        View All
      </button> -->
    </div>
  </div>

  <div class="box">
    <div class="text">
      <div class="iconss">
        <i class="bi bi-arrow-90deg-left p-2"></i>
        <div>
          <h2 class="topic">Monthly Sale</h2>
        </div>
      </div>
      <div>
        <h2 class="topic-heading" style="color: #ff9f43">
          <div>
            <p>Rs: {{ monthly_sale_amount }}</p>
          </div>
        </h2>
      </div>
      <!-- <button class="dash-btn" style="background-color: #ff9f43">
        View All
      </button> -->
    </div>
  </div>
  <div class="box">
    <div class="text">
      <div class="iconss">
        <i class="bi bi-arrow-90deg-left p-2"></i>
        <div>
          <h2 class="topic">Cash In Hand</h2>
        </div>
      </div>
      <div>
        <h2 class="topic-heading" style="color: #ff9f43">
          <div>
            <p>Rs: {{ yearly_Sale_amount }}</p>
          </div>
        </h2>
      </div>
      <!-- <button class="dash-btn" style="background-color: #ff9f43">
        View All
      </button> -->
    </div>
  </div>
  <div class="box">
    <div class="text">
      <div class="iconss">
        <i class="bi bi-bag-plus-fill p-2"></i>
        <h2 class="topic">Daily Purchases</h2>
      </div>
      <h2 class="topic-heading" style="color: #28c76f">
        Rs:{{ daily_Purchase_amount }}
      </h2>
      <!-- <button class="dash-btn" style="background-color: #28c76f">
        View All
      </button> -->
    </div>
  </div>
  <div class="box">
    <div class="text">
      <div class="iconss">
        <i class="bi bi-bag-plus-fill p-2"></i>
        <h2 class="topic">Monthly Purchases</h2>
      </div>
      <h2 class="topic-heading" style="color: #28c76f">
        Rs:{{ monthly_Purchase_amount }}
      </h2>
      <!-- <button class="dash-btn" style="background-color: #28c76f">
        View All
      </button> -->
    </div>
  </div>
  <div class="box">
    <div class="text">
      <div class="iconss">
        <i class="bi bi-arrow-90deg-right p-2"></i>
        <h2 class="topic">All Customers</h2>
      </div>
      <h2 class="topic-heading" style="color: #ea5455">
        Total: {{ all_Customer }}
      </h2>
      <!-- <button class="dash-btn" style="background-color: #ea5455">
        View All
      </button> -->
    </div>
  </div>
</div>

<br />
<div class="purchase_sale col-12 ">
  <canvas id="chart"></canvas>
</div>

<br /><br />
