<ng-container>
  <div class="d-flex my-2 justify-content-between">
    <div class="h4">Account Vouchar</div>
  </div>

  <!-- <form [formGroup]="form"> -->
  <form [formGroup]="form">
    <div class="row">
      <div class="form-group col-2">
        <label for="date">Transaction Date</label>
        <input
          type="date"
          id="date"
          class="form-control sm"
          [class.ng-invalid]="
            form.controls.date.invalid && form.controls.date.touched
          "
          formControlName="date"
        />
        <div
          *ngIf="form.controls.date.invalid && form.controls.date.touched"
          class="error-message"
        >
          Date is required.
        </div>
      </div>
      <div class="form-group col-2">
        <label>Voucher Type</label>
        <select class="sm form-select" formControlName="voucher_type">
          <!-- <option value="" disabled selected>Select Voucher Type</option> -->
          <option>Select Payment</option>
          <option *ngFor="let item of voucherTypes" [value]="item.value">
            {{ item.value }}
          </option>
        </select>
        <div
          *ngIf="
            form.controls.voucher_type.invalid &&
            form.controls.voucher_type.touched
          "
          class="error-message"
        >
          Voucher Type is required.
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="form-group col-2">
        <label>Account</label>
        <select
          class="sm form-select"
          formControlName="account"
          value="account.id"
        >
          <option>Select Account</option>
          <option [value]="account.id" *ngFor="let account of accountData">
            {{ account.title }}
            <!-- {{ account.id }} -->
          </option>
        </select>
      </div>
      <div class="form-group col-4">
        <label for="description">Description</label>
        <input
          type="text"
          id="description"
          class="form-control sm"
          [class.ng-invalid]="false"
          formControlName="description"
        />
      </div>
      <div class="form-group col-2">
        <label for="amount">amount</label>
        <input
          type="number"
          max="9999999"
          id="amount"
          class="form-control sm"
          [class.ng-invalid]="false"
          formControlName="amount"
        />
      </div>
    </div>

    <div class="d-flex justify-content-end pt-3">
      <button
        class="btn btn-primary save_button"
        [disabled]="form.invalid"
        (click)="addTransaction()"
      >
        <i class="bi bi-plus-lg"></i> Add Transaction
      </button>
    </div>
  </form>

  <div class="py-4">
    <table class="table table-striped text-center table-bordered table-hover">
      <thead class="table-head">
        <tr>
          <th>#</th>
          <th>Account_id</th>
          <th>Voucher</th>
          <th class="col-5">Detail Description</th>
          <th>Debit</th>
          <th>Credit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of transactions; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.account_ }}</td>
          <td>{{ item.voucher_type }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.debit }}</td>
          <td>{{ item.credit }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-end">
    <div class="d-flex align-center">
      <button class="btn btn-dark mx-1" (click)="refreshPage()">
        <i class="bi bi-arrow-clockwise"></i>
        Reload
      </button>
      <button class="btn btn-primary" (click)="sendDataToAPI(transactions)">
        <i class="bi bi-check2"></i> Save Vouchar
      </button>
    </div>
  </div>
</ng-container>
<ng-container>
  <div class="py-3">
    <table class="table table-striped text-center table-bordered table-hover">
      <thead class="table-head">
        <tr>
          <th>Transaction Id</th>
          <th>Account Name</th>
          <th>Voucher Type</th>
          <th>Description</th>
          <th>Transaction Date</th>
          <th>Debit</th>
          <th>Credit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactionsData; let i = index">
          <td>{{ transaction.id }}</td>
          <td>{{ transaction.account_name }}</td>
          <td>{{ transaction.vocuher_type }}</td>
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.transaction_date }}</td>
          <td>{{ transaction.debit }}</td>
          <td>{{ transaction.credit }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-end"></div>
</ng-container>
